*{
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #E40613;
    --text-color: #E40613;
}
@font-face {
    font-family: Yekan;
    src: url(../fonts/fa/iranyekanwebregular.woff2);
}
@font-face {
    font-family: YekanNumber;
    src: url(../fonts/fa/Yekan.ttf.ttf);
}
:root{
   --font-family:Yekan;
   --font-number:YekanNumber;
}